if SHIELD_MoooseBT_RIGHT

config ZMK_KEYBOARD_NAME
    default "MoooseBT"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MoooseBT_LEFT || SHIELD_MoooseBT_RIGHT

config ZMK_SPLIT
    default y

endif
