#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/pointing.h>
#include <behaviors/rgbled_widget.dtsi>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100   //スクロール量

// Leyer
#define ARROW 1
#define NUM 2
#define AHK 3
#define FUNCTION 4
// #define SCROLL 5
// #define layer_6 6

// Japanese
#define JP_MINUS MINUS        // -
#define JP_CARET EQUAL        // ^
#define JP_YEN   INT3         // ¥
#define JP_AT    LBKT         // @
#define JP_LBKT  RBKT         // [
#define JP_EISU  CAPS         // Eisu (英数)
#define JP_SEMI  SEMI         // ;
#define JP_COLON SQT          // :
#define JP_RBKT  NUHS         // ]
#define JP_COMMA COMMA        // ,
#define JP_DOT   DOT          // .
#define JP_SLASH SLASH        // /
#define JP_BSLH  INT1         // (backslash)
#define JP_MHEN  INT5         // Muhenkan (無変換)
#define JP_HENK  INT4         // Henkan (変換)
#define JP_EXCL  LS(N1)       // !
#define JP_DQT   LS(N2)       // "
#define JP_HASH  LS(N3)       // #
#define JP_DLLR  LS(N4)       // $
#define JP_PRCNT LS(N5)       // %
#define JP_AMPS  LS(N6)       // &
#define JP_SQT   LS(N7)       // '
#define JP_LPAR  LS(N8)       // (
#define JP_RPAR  LS(N9)       // )
#define JP_EQUAL LS(JP_MINUS) // =
#define JP_TILDE LS(JP_CARET) // ~
#define JP_PIPE  LS(JP_YEN)   // |
#define JP_GRAVE LS(JP_AT)    // `
#define JP_LBRC  LS(JP_LBKT)  // {
#define JP_CAPS  LS(JP_EISU)  // Caps Lock
#define JP_PLUS  LS(JP_SEMI)  // +
#define JP_ASTRK LS(JP_COLON) // *
#define JP_RBRC  LS(JP_RBKT)  // }
#define JP_LT    LS(JP_COMMA) // <
#define JP_RT    LS(JP_DOT)   // >
#define JP_QMARK LS(JP_SLASH) // ?
#define JP_UNDER LS(JP_BSLH)  // _

/ {
    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
        my_sp: my_sp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp JP_MHEN>
                , <&macro_tap &kp LS(N3)>
                ;
        };
        my_dq: my_dq {
            #binding-cells = <0>;
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp JP_MHEN>
                , <&macro_tap &kp LS(N2)>
                , <&macro_tap &kp LS(N2)>
                ;
        };
        my_sq: my_sq {
            #binding-cells = <0>;
            compatible = "zmk,behavior-macro";
            bindings = <&macro_tap &kp JP_MHEN>
                , <&macro_tap &kp LS(N7)>
                , <&macro_tap &kp LS(N7)>
                ;
        };

        my_kakko: my_kakko {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp JP_MHEN>
                , <&macro_tap &kp LS(N8)>
                , <&macro_tap &kp LS(N9)>
                ;
        };
        my_br: my_br {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp JP_MHEN>
                , <&macro_tap &kp JP_LT>
                , <&macro_tap &kp B>
                , <&macro_tap &kp R>
                , <&macro_tap &kp JP_RT>
                ;
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp JP_HENK>, <&kp JP_MHEN>;
        };
        rot_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
        rot_mkp: sensor_rotate_mkp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&mkp>, <&mkp>;
        };
        mouse_scroll: mouse_wheel_scrl{
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp TAB    &kp Q    &kp W    &kp E   &kp R    &kp T     &kp Y     &kp U     &kp I        &kp O       &kp P         &kp JP_YEN
                &kp LALT   &kp A    &kp S    &kp D   &kp F    &kp G     &kp H     &kp J     &kp K        &kp L       &kp JP_SEMI   &kp JP_COLON
                &kp LSHIFT &kp Z    &kp X    &kp C   &kp V    &kp B     &kp N     &kp M     &kp JP_COMMA &kp JP_DOT  &kp JP_SLASH  &kp RSHIFT
                &kp LCTRL  &kp LWIN &td0 &lt_to_layer_0 4 TAB &lt_to_layer_0 2 BSPC &kp SPACE &kp ENTER &lt_to_layer_0 2 MINUS &lt_to_layer_0 3 ESC  &kp JP_LBKT &kp JP_RBKT   &kp JP_AT
                                        &kp UP                                        &kp UP
                              &kp LEFT  &kp ESC &kp RIGHT    &bootloader     &kp LEFT &kp ESC &kp RIGHT
                                        &kp DOWN                                      &kp DOWN
            >;
            sensor-bindings =
                <&mouse_scroll SCRL_DOWN SCRL_UP>;
        };
        ARROW {
            bindings = <
                &kp TAB    &kp Q    &kp W    &kp E   &kp R    &kp T     &kp Y     &kp U     &kp UP       &kp O       &kp P         &kp JP_YEN
                &kp LALT   &kp A    &kp S    &kp D   &kp F    &kp G     &kp H     &kp LEFT  &kp DOWN     &kp RIGHT   &kp JP_SEMI   &kp JP_COLON
                &kp LSHIFT &kp Z    &kp X    &kp C   &kp V    &kp B     &kp N     &kp M     &kp JP_COMMA &kp JP_DOT  &kp JP_SLASH  &kp RSHIFT
                &kp LCTRL  &kp LWIN &kp LALT &kp TAB &kp BSPC &kp SPACE &kp ENTER &kp MINUS &kp ESC      &kp JP_LBKT &kp JP_RBKT   &kp JP_AT
                                        &kp UP                                        &kp UP
                              &kp LEFT  &kp ESC &kp RIGHT    &bootloader     &kp LEFT &kp ESC &kp RIGHT
                                        &kp DOWN                                      &kp DOWN
            >;
            sensor-bindings = <&mouse_scroll SCRL_UP SCRL_DOWN>;
        };
        NUM {
            bindings = <
                &kp TAB    &kp Q    &kp W    &kp E   &kp R    &kp T     &kp Y     &kp N7    &kp N8       &kp N9       &kp P         &kp JP_YEN
                &kp LALT   &kp A    &kp S    &kp D   &kp F    &kp G     &kp H     &kp N4    &kp N5       &kp N6       &kp JP_SEMI   &kp JP_COLON
                &kp LSHIFT &kp Z    &kp X    &kp C   &kp V    &kp B     &kp N     &kp N1    &kp N2       &kp N1       &kp JP_SLASH  &kp RSHIFT
                &kp LCTRL  &kp LWIN &kp LALT &kp TAB &kp BSPC &kp SPACE &kp ENTER &kp MINUS &kp N0       &kp JP_LBKT  &kp JP_RBKT   &kp JP_AT
                                        &kp UP                                        &kp UP
                              &kp LEFT  &kp ESC &kp RIGHT    &bootloader     &kp LEFT &kp ESC &kp RIGHT
                                        &kp DOWN                                      &kp DOWN
            >;
            sensor-bindings = <&mouse_scroll SCRL_UP SCRL_DOWN>;
        };
        AHK {
            bindings = <
                &kp TAB    &kp Q    &kp W    &kp E   &kp R    &kp T     &kp Y     &kp U     &kp I        &kp O       &kp P         &kp JP_YEN
                &kp LALT   &kp A    &kp S    &kp D   &kp F    &kp G     &kp H     &kp J     &kp K        &kp L       &kp JP_SEMI   &kp JP_COLON
                &kp LSHIFT &kp Z    &kp X    &kp C   &kp V    &kp B     &kp N     &kp M     &kp JP_COMMA &kp JP_DOT  &kp JP_SLASH  &kp RSHIFT
                &kp LCTRL  &kp LWIN &kp LALT &kp TAB &kp BSPC &kp SPACE &kp ENTER &kp MINUS &kp ESC      &kp JP_LBKT &kp JP_RBKT   &kp JP_AT
                                        &kp UP                                        &kp UP
                              &kp LEFT  &kp ESC &kp RIGHT    &bootloader     &kp LEFT &kp ESC &kp RIGHT
                                        &kp DOWN                                      &kp DOWN
            >;
            sensor-bindings = <&mouse_scroll SCRL_UP SCRL_DOWN>;
        };
        FUNCTION {
            bindings = <
                &kp TAB    &kp Q    &kp W    &kp E   &kp R    &kp T     &kp Y     &kp U     &kp I        &kp O       &kp P         &kp JP_YEN
                &kp LALT   &kp A    &kp S    &kp D   &kp F    &kp G     &kp H     &kp J     &kp K        &kp L       &kp JP_SEMI   &kp JP_COLON
                &kp LSHIFT &kp Z    &kp X    &kp C   &kp V    &kp B     &kp N     &kp M     &kp JP_COMMA &kp JP_DOT  &kp JP_SLASH  &kp RSHIFT
                &kp LCTRL  &kp LWIN &kp LALT &kp TAB &kp BSPC &kp SPACE &kp ENTER &kp MINUS &kp ESC      &kp JP_LBKT &kp JP_RBKT   &kp JP_AT
                                        &kp UP                                        &kp UP
                              &kp LEFT  &kp ESC &kp RIGHT    &bootloader     &kp LEFT &kp ESC &kp RIGHT
                                        &kp DOWN                                      &kp DOWN
            >;
            sensor-bindings = <&mouse_scroll SCRL_UP SCRL_DOWN>;
        };
    };
};